body {
    background-image: url(https://th-thumbnailer.cdn-si-edu.com/cevOMJZl1eun6T8gH_yGJGRdcmc=/1026x684/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/55/95/55958815-3a8a-4032-ac7a-ff8c8ec8898a/gettyimages-1067956982.jpg);
    width: 100%;
    background-repeat: no-repeat;
}
h1 {
    font-size: 40px;
}
p {
    color: brown;
    font-size: 30px;
}
.back-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}